<!DOCTYPE html>
<html>
  <head>
    <title>Editar</title>

    <link rel="stylesheet" type="text/css" href="/css/stylesRegistro.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/stylesHeader.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/stylesFooter.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/stylesValidators.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" /> -->
  </head>

  <body>
    <br>
    <br>
          <div class="errores">
            <ul class="errores"></ul>
          </div>
    <!-- ERRORES FRONT -->
    <main>
      <% if(typeof(errors) !='undefined' ){%>
      <ul class="alert alert-danger">
        <% errors.forEach(error=> { %>
        <li><%= error.msg%></li>
        <%});%>
      </ul>
      <%}%>

      <!-- FORMULARIO -->
      <form
        class="registro"
        id="registroForm"
        action="/editProfile"
        method="post"
        enctype="multipart/form-data"
      >
        <h1 class="title">Edita tu perfil</h1>
        <img src="/images/users/<%= user.image%>" style="width: 250px; height: 250px;">
        <input type="text" placeholder="Nombre" name="first_name" id="nombre" value="<%= user.first_name%>"/><br />
        <!-- <span id="msgNombre" class="msg"></span><br> -->
        <input type="text" placeholder="Apellido" name="last_name" id="apellido" value="<%= user.last_name%>"/><br />
        <h2>correo electrónico</h2>
        <input type="text" placeholder="correo electrónico" name="email" id="correo" hidden value="<%= user.email%>"/><br />
        <h3><%= user.email %></h3>
        <!-- <span id="msgEmail" class="msg"></span><br> -->
        <input type="number" placeholder="Teléfono" name="telefono" id="telefono" value="<%= user.telefono%>" /><br />
        <!-- <span id="msgTelefono" class="msg"></span><br> -->
        <input type="password" placeholder="Contraseña" name="password" id="contrasena" /><br /> <span id="msgPassword" class="msg"></span><br>
        <!-- <input
          type="text"
          placeholder="Ocupación"
          name="role"
          id="role"
        /><br /> -->
        <!-- <span id="msgOcupacion" class="msg"></span><br> -->
        <input 
          type="text" placeholder="Ciudad" name="country" id="ciudad" value="<%= user.country%>" /><br />
        <label for="fechaNacimiento">Fecha de nacimiento:</label>
        <input type="date" name="fechaNacimiento" id="fechaNacimiento" value="<%= user.fechaNacimiento%>" /><br />
        <h3>sexo</h3>
        <div class="caja">
          <div class="contenedor">
            <input type="radio" id="hombre" name="gender" value="hombre" />
            <label for="hombre">hombre</label>
          </div>
          <div class="contenedor">
            <input type="radio" id="mujer" name="gender" value="mujer" />
            <label for="mujer">mujer</label>
          </div>
          <div class="contenedor">
            <input
              type="radio"
              id="personalizado"
              name="gender"
              value="personalizado"
            />
            <label for="personalizado">personalizado</label>
          </div>
        </div>
        <br />
        <label for="image">Imagen:</label>
        <input type="file" id="image" name="image" accept="image/*" />
        <button type="submit">Actualizar</button>
      </form>
      <script src="script.js"></script>
      <!-- <div><% //- include('../partials/footer.ejs') %></div> -->
    </main>
    <script src="/js/registerValidators.js"></script>
  </body>
</html>
