<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesWhats.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesDetalle.css" />
  </head>

  

  
  <script
    src="https://kit.fontawesome.com/2c7738e51c.js"
    crossorigin="anonymous"
    
  ></script>
  <%- include('../partials/header.ejs') %>
  <body>
    <div class="contenedorWa">
      <a
        class="btnWa"
        tarjet="_blank"
        onclick="gtag_report_conversion_wa();"
        href="https://api.whatsapp.com/send?phone=51946559236&text=Estoy%20interesado%20en%20sus%20productos."
      >
        <i class="fab fa-whatsapp my-float"></i>
      </a>
    </div>
    <div class="listProducts">
      <!-- <h1 id="titulo">Detalle de Producto</h1> -->
      
      <h1 class="tituloD">Detalle de Producto</h1>
     
      <ul class="producto">
        <li class="detalle">
          <img
            class="imageList"
            src="/images/<%= miProducto.image %>"
            alt="Mi Imagen"
            width="600px"
            height="600px"
          />
          <section class="contenedor">
            <h4>Nombre del Producto: <%= miProducto.name %></h4>
            <h4>Descripción: <%= miProducto.description %></h4>
            <h4>Precio: $<%= miProducto.price %></h4>
            <h4>Disponibilidad: <%= miProducto.quantity %></h4>
            <h4>Categoría: <%= miProducto.idcategory %></h4>
            <h4>Talla: <%= miProducto.size %></h4>
            <h4>Color: <%= miProducto.color %></h4>
          </section>
        </li>
      </ul>
    </div>
  </body>
  <%- include('../partials/footer.ejs') %>
</html>