<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle</title>
  </head>
  <link rel="stylesheet" type="text/css" href="/css/stylesshome.css" />
  <link rel="stylesheet" type="text/css" href="/css/stylesHeader.css" />
  <link rel="stylesheet" type="text/css" href="/css/stylesFooter.css" />
  <script
    src="https://kit.fontawesome.com/2c7738e51c.js"
    crossorigin="anonymous"
  ></script>
  <%- include('../partials/header.ejs') %>
  <body>
    <div class="contenedorWa">
      <a
        class="btnWa"
        tarjet="_blank"
        onclick="gtag_report_conversion_wa();"
        href="https://api.whatsapp.com/send?phone=51946559236&text=Estoy%20interesado%20en%20sus%20productos."
      >
        <i class="fab fa-whatsapp my-float"></i>
      </a>
    </div>
    <h1>Detalle de Producto</h1>
    <div class="listProducts">
      <ul>
        <li>
          <img
            class="imageList"
            src="/images/<%= miProducto.image %>"
            alt="Mi Imagen"
            width="400px"
            height="400px"
          />
          <h4>Nombre del Producto: <%= miProducto.name %></h4>
          <h4>Descripción: <%= miProducto.description %></h4>
          <h4>Precio: $<%= miProducto.price %></h4>
          <h4>Disponibilidad: <%= miProducto.quantity %></h4>
          <h4>Categoría: <%= miProducto.idcategory %></h4>
          <h4>Talla: <%= miProducto.size %></h4>
          <h4>Color: <%= miProducto.color %></h4>
        </li>
      </ul>
    </div>
  </body>
  <%- include('../partials/footer.ejs') %>
</html>
