<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editt</title>
  </head>

  <body>
    <h1>Edit</h1>
    <form  method=" POST" action="products/<%= producto.id %>/edit" enctype="multipart/form-data"> 
      <!-- action="products/<%= producto.id %>/edit?_method=PUT" -->
      <div>
        <!-- <h2>
          <label for="producto">Producto ID: </label>
          <input
            type="text"
            name="producto"
            id="producto"
            value="<%= producto.id %>"
          />
        </h2> -->
        <h2>
          <label for="name">Nombre: </label>
          <input
            type="text"
            name="name"
            id="name"
            value="<%= producto.name %>"
          />
        </h2>
        <h2>
          <label for="descripcion">Descripción : </label>
          <input
            type="text"
            name="descripcion"
            id="descripcion"
            value="<%= producto.description %>"
          />
        </h2>
        <h2>
          <label for="price">Precio : </label>
          <input
            type="text"
            name="price"
            id="price"
            value="<%= producto.price %>"
          />
        </h2>
      </div>

      <img
        width="100"
        height="100"
        src="/images/<%= producto.image %>"
        alt=""
      />
      <button type="submit" id="modificar">Guardar</button>
    </form>
  </body>
</html>
