<!doctype html>
<html lang="es">

<body>
  <!-- ERRORES FRONT -->
  <div class="errores">
    <ul></ul>
  </div>

  <main class="container-fluid">
    <!-- Cuerpo principal -->
    <section class="row">
      <article class="col-12  card">
        <div class="card-body">
          <h2 class="display-4 text-white bg-info text-center pt-2">Actualizar un Producto</h2>
        </div>
      </article>
    </section>

    <section class="bg-home pt-4">
      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto bg-light ">
            <div class="create-form">
              <form class="edit" action="/admin/edit/<%= productEdit.id%>" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <input id="name" type="text" class="form-control" name="name" placeholder="Nombre" 
                    value="<%= productEdit.name%>">
                </div>
                <div class="form-group">
                  <input id="description" type="text" class="form-control" name="description" placeholder="Descripción"
                     value="<%= productEdit.description%>">
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" name="price" placeholder="Indique el precio"
                     value="<%= productEdit.price%>">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="size" placeholder="Tallas" 
                    value="<%= productEdit.size%>">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="color" placeholder="Colores" 
                    value="<%= productEdit.color%>">
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" name="quantity" placeholder="Indique la existencia"
                     value="<%= productEdit.quantity%>">
                </div>
                <div class="form-group">
                  <select name="idcategory" class="custom-select" id="idcategory">
                    <option disabled value="#">Seleccione la categoría"</option>
                    <option value="1" <%=productEdit.idcategory==1 ? "selected" : null %>
                      >FORMAL</option>
                    <option value="Sport" <%=productEdit.idcategory==2 ? "selected" : null %>>SPORT</option>
                    <option value="Casual" <%=productEdit.idcategory==3 ? "selected" : null %>>CASSUAL
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <select name="descuento" class="custom-select" id="validationCustom04">
                    <option disabled value="#">Seleccione un descuento"</option>
                    <option value="0" <%=productEdit.descuento==0 ? "selected" : null %>
                      >Sin descuento</option>
                    <option value="15" <%=productEdit.descuento==15 ? "selected" : null %>>15%</option>
                    <option value="30" <%=productEdit.descuento==30 ? "selected" : null %>>30%</option>
                  </select>
                </div>
                <!--Aquí solicito la imagen-->
                <div class="custom-file">
                  <figure class="form-group">
                    <img class="w-100" src="/images/<%= productEdit.image%>" width="500px"
                      alt="productEdit <%= productEdit.name%>">
                  </figure>
                  <input id="image" type="hidden" name="image" value="<%= productEdit.image%>">
                  <!--De esta forma logro conservar y que viaje la image anterior de esta forma evito que el usuario seleccione una image nuevamente, ( si no lo desea) -->
                  <!--<input type="file" name="image">-->
                  <input type="file" class="custom-file-input" id="inputGroupFileimage"
                    aria-describedby="inputGroupFileAddon01" name="image" value="<%= productEdit.image%>">

                  <label class="custom-file-label" for="inputGroupFile01">Seleccione una image...</label>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn btn-info">Actualizar</button>
                  <a href="/administrar" class="btn btn-danger">Volver</a>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="/js/editValidators.js"></script>
</body>

</html>